*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242424;
}
#form{
    width: 300px;
    height: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}
#form h1{
    text-align: center;
    color: #242424;
}
#form .input_control{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
#form .input_control input{
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
    padding: 10px;
}
#form button{
    width: 100%;
    background: #00f;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    margin-top: 10px;
}
#form .input_control label{
    font-size: 12px;
}
.input_control.error input{
 border: 2px solid #f00 !important;
}
.input_control .error{
    color: #f00;
    font-size: 10px;
    line-height: 15px;
}
.input_control.success input{
    border: 2px solid #0f0 !important;
   }
   .input_control .success{
       color: #0f0;
       font-size: 10px;
       line-height: 15px;
   }
   